<a href="https://colab.research.google.com/github/silviabarasa/week4prepIP/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2019_07_Silvia_Barasa_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Electric car usage over time**
#Objective
- To identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.
#Other objectives
- Ti identify the most popular hour for returning cars?
- To find out what station is the most popular at the most popular picking hour?
- To find out what postal code is the most popular for picking up Blue cars? 
- To find out if the most popular station belong to that postal code at the most popular picking hour?
- To find out if the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?

#1.0 Importing the required libraries

In [147]:
#Importing the pandas library
import pandas as pd
#importing the numpy library
import numpy as np

#1.1 Reading the Dataset from our CSV file

The dataset we will use contains the percentage distribution of population by type of disability for Kenyan counties.

*   Dataset link for access for explanation about our dataset: [https://drive.google.com/a/moringaschool.com/file/d/13DXF2CFWQLeYxxHFekng8HJnH_jtbfpN/view?usp=sharing].
* Dataset for download [http://bit.ly/autolib_dataset]

In [148]:
df = pd.read_csv('/content/Autolib_dataset (2) (1).csv')
df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

#1.2 Previewing our dataset

In [149]:
#previewing the first 10 rows
df.head(5)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

#1.3 Accessing information about our dataset

In [150]:
# Getting to know more about the dataset by accessing its information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

#1.4 Data cleaning

###1.41 Validity

In [151]:
#dropping the Displayed comment column since the comments  are not important for our analysis
df.drop('Displayed comment', axis=1, inplace= True)
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 24 columns]

In [152]:
#dropping the scheduled at column since it is not important for our analysis
df.drop('Scheduled at', axis=1, inplace= True)
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 23 columns]

In [153]:
#Dropping the cars column since it has unique values with the bluecar counter column
df.drop('Cars', axis=1, inplace=True)
df.head()

                              Address  Bluecar counter  ...  hour  minute
0                 2 Avenue de Suffren                0  ...    11      43
1           145 Rue Raymond Losserand                6  ...     7      24
2    2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4  6 avenue de la Porte de Champerret                3  ...    17      23

[5 rows x 22 columns]

In [154]:
#Dropping the geo point column since it will not be important to us in our analysis
#Dropping the year and month column since the data collected was for the same year and the same month
df.drop(['Geo point', 'year', 'month'], axis=1, inplace=True)
df.head()

                              Address  Bluecar counter  ...  hour  minute
0                 2 Avenue de Suffren                0  ...    11      43
1           145 Rue Raymond Losserand                6  ...     7      24
2    2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4  6 avenue de la Porte de Champerret                3  ...    17      23

[5 rows x 19 columns]

In [160]:
#Outliers
# checking for outliers using IQR Scores
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1
(df < (Q1 - 1.5 * IQR)) |(df > (Q3 + 1.5 * IQR))


# The two commented lines of code below can be used to drop the outliers but for now I will not drop them since the whole dataset is important for my analysis

# df_no_outlier = df[~((df < (Q1 - 1.5 * IQR)) | (df > (Q3 + 1.5 * IQR))).any(axis = 1)]

# df_no_outlier

      Address  Bluecar counter  Charge Slots  ...    day   hour  minute
0       False            False         False  ...  False  False   False
1       False            False         False  ...  False  False   False
2       False            False         False  ...  False  False   False
3       False            False          True  ...  False  False   False
4       False            False         False  ...  False  False   False
...       ...              ...           ...  ...    ...    ...     ...
4995    False            False         False  ...  False  False   False
4996    False            False          True  ...  False  False   False
4997    False            False          True  ...  False  False   False
4998    False            False         False  ...  False  False   False
4999    False            False         False  ...  False  False   False

[5000 rows x 19 columns]

###1.4.2 Accuracy

In [155]:
#Dropping all rows where the value of "Bluecar counter" is less than 0 or greater than 7
nr = df[(df['Bluecar counter'] < 0) & (df['Bluecar counter'] > 7) ].index
df.drop(nr , inplace=True)
#Checking if any of the rows dropped
df.shape
#From the result all rows are accurate and within range

(5000, 19)

In [156]:
#Dropping all rows where the value of "Bluecar counter" is less than 0 or greater than 7
nr = df[(df['Utilib counter'] < 0) & (df['Utilib counter'] > 4) ].index
df.drop(nr , inplace=True)
#Checking if any of the rows dropped
df.shape
#From the result all rows are accurate and within range

(5000, 19)

In [157]:
#Dropping all rows where the value of "Bluecar counter" is less than 0 or greater than 7
nr = df[(df['Utilib 1.4 counter'] < 0) & (df['Utilib 1.4 counter'] > 5) ].index
df.drop(nr , inplace=True)
#Checking if any of the rows dropped
df.shape
#From the result all rows are accurate and within range

(5000, 19)

###1.4.3 Completeness

In [158]:
# Checking if there is any missing value in dataframe as a whole
df.isnull()
# Checking if there is any missing value across each column
df.isnull().any()
# Checking how many missing values there are across each column
df.isnull().sum()

Address                0
Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
Charge Slots           0
Charging Status        0
City                   0
ID                     0
Kind                   0
Postal code            0
Public name            0
Rental status          0
Slots                  0
Station type           0
Status                 0
Subscription status    0
day                    0
hour                   0
minute                 0
dtype: int64

### Consistency

In [73]:
#we check for duplicates 
#Hence we find out that there were no duplicates
df.duplicated().sum()

0

### Uniformity

In [161]:
#changing column names to lower case and placing underscore to make the column names be more presentable
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
df.head(5)

                              address  bluecar_counter  ...  hour  minute
0                 2 Avenue de Suffren                0  ...    11      43
1           145 Rue Raymond Losserand                6  ...     7      24
2    2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4  6 avenue de la Porte de Champerret                3  ...    17      23

[5 rows x 19 columns]

In [75]:
#confirming our dataset
df.head()

                              address  bluecar_counter  ...  hour  minute
0                 2 Avenue de Suffren                0  ...    11      43
1           145 Rue Raymond Losserand                6  ...     7      24
2    2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4  6 avenue de la Porte de Champerret                3  ...    17      23

[5 rows x 19 columns]

#1.5 Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

In [76]:
#Create a new dataframe where city is Paris
df_paris = df[df.city == 'Paris']
df_paris.head()

                              address  bluecar_counter  ...  hour  minute
0                 2 Avenue de Suffren                0  ...    11      43
1           145 Rue Raymond Losserand                6  ...     7      24
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4  6 avenue de la Porte de Champerret                3  ...    17      23
5                8 Boulevard Voltaire                0  ...     7       2

[5 rows x 19 columns]

In [164]:
#Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018
df_paris[df['bluecar_counter'] == 0].groupby('hour')['hour'].value_counts().sort_values(ascending= False).head(1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

hour  hour
2     2       54
Name: hour, dtype: int64

#1.6 What is the most popular hour for returning cars?

In [143]:
#What is the most popular hour for returning cars?
#we will confirm the hour with the highest number of slots and that will be the best time 
df.groupby('slots')['hour'].value_counts().sort_values(ascending=True).head(10)

slots  hour
7      22      1
       2       1
       3       1
       20      1
       17      1
       11      1
       19      1
       23      2
       8       2
6      17      2
Name: hour, dtype: int64

#1.7.What station is the most popular? Overall?

In [133]:
#What station is the most popular? Overall?
df.groupby('station_type')['public_name'].value_counts().sort_values(ascending=False).head(1)

station_type  public_name
station       Paris/Porte de Montrouge/8    13
Name: public_name, dtype: int64

#1.8 What station is the most popular at the most popular picking hour?

In [144]:
#Finding the most popular hour for picking up blue cars
df[df['bluecar_counter'] == 0]['hour'].value_counts().sort_values(ascending=False).head(1)

14    76
Name: hour, dtype: int64

In [145]:
#What station is the most popular at the most popular picking hour?

df[(df['kind'] == 'STATION') & (df['hour'] == 14)].groupby('public_name')['public_name'].count().sort_values(ascending= False).head(1)

public_name
Paris/Jean-Jacques Rousseau/62    3
Name: public_name, dtype: int64

#1.9 What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?Overall?At the most popular picking hour?

In [124]:
#what  postal code is the most popular for picking up Blue cars?
df[(df['kind'] == 'STATION') & (df['bluecar_counter'] == 0)].groupby('postal_code')['postal_code'].value_counts().sort_values(ascending= False).head(1)

postal_code  postal_code
75008        75008          89
Name: postal_code, dtype: int64

In [132]:
#Does the most popular station belong to that postal code?Overall?
#df[(df['kind'] == 'STATION') & (df['bluecar_counter'] == 0)].
df.loc[(df['postal_code'] == 75008) & (df['public_name'] == 'Paris/Jean-Jacques Rousseau/62')]
#hence it does not belong to that postal code

Empty DataFrame
Columns: [address, bluecar_counter, utilib_counter, utilib_1.4_counter, charge_slots, charging_status, city, id, kind, postal_code, public_name, rental_status, slots, station_type, status, subscription_status, day, hour, minute]
Index: []

In [172]:
#Does the most popular station belong to that postal code. At the most popular picking hour?
df.loc[(df['kind'] == 'STATION') & (df['postal_code'] == 75008) & (df['hour'] == 14)]

                                address  bluecar_counter  ...  hour  minute
315              9 place Saint-Augustin                2  ...    14      27
487             4 rue de Constantinople                2  ...    14      34
932                69 Rue de Courcelles                3  ...    14      56
2832               69 Rue de Courcelles                0  ...    14      40
4536                  2 avenue Matignon                0  ...    14      12
4636  123 Rue du Faubourg Saint-HonorÃ©                0  ...    14       8

[6 rows x 19 columns]

#1.10 Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?

###1.10.1 considering utilib

In [134]:
#Finding out the most popular postal code for picking up utilib 
df.loc[df['utilib_counter'] == 0]['postal_code'].value_counts().sort_values(ascending = False).head(1)

75015    257
Name: postal_code, dtype: int64

In [139]:
#Finding out if the postal code belongs to the most popular station
df.loc[(df['kind'] == 'STATION') & (df['postal_code'] == 75015) & (df['public_name'] == 'Paris/Jean-Jacques Rousseau/62')]
#hence it doesnot belong to the most popular station

Empty DataFrame
Columns: [address, bluecar_counter, utilib_counter, utilib_1.4_counter, charge_slots, charging_status, city, id, kind, postal_code, public_name, rental_status, slots, station_type, status, subscription_status, day, hour, minute]
Index: []

In [173]:
#Does the most popular station belong to that postal code. At the most popular picking hour?
df.loc[(df['kind'] == 'STATION') & (df['postal_code'] == 75015) & (df['hour'] == 14)]

                           address  bluecar_counter  ...  hour  minute
298                 11 rue Gerbert                0  ...    14      50
341              56 Rue Lacordaire                5  ...    14      21
440                 19 Rue Leblanc                4  ...    14      24
646              1 rue Jean Sicard                6  ...    14      46
881         143 Avenue Ãmile Zola                1  ...    14      46
1012                21 rue Miollis                2  ...    14      54
1255                  15 rue Olier                4  ...    14      30
1842              54 rue HÃ©ricart                2  ...    14      35
3569              336 Rue Lecourbe                6  ...    14      36
4218  1 Rue du Colonel Pierre Avia                4  ...    14      52
4673               63 rue Lecourbe                0  ...    14      46

[11 rows x 19 columns]

###1.10.2considering Utilib 1.4

In [136]:
#Finding out the most popular postal code for picking up utilib 1.4
df.loc[df['utilib_1.4_counter'] == 0]['postal_code'].value_counts().sort_values(ascending = False).head(1)

75015    245
Name: postal_code, dtype: int64

In [174]:
#Finding out if the most popular postal code belongs to the most popular station
df.loc[(df['kind'] == 'STATION') & (df['postal_code'] == 75015) & (df['hour'] == 14) & (df['public_name'] == 'Paris/Jean-Jacques Rousseau/62')]
#hence it doesnot belong to the most popular station

Empty DataFrame
Columns: [address, bluecar_counter, utilib_counter, utilib_1.4_counter, charge_slots, charging_status, city, id, kind, postal_code, public_name, rental_status, slots, station_type, status, subscription_status, day, hour, minute]
Index: []

In [175]:
#Does the most popular station belong to that postal code. At the most popular picking hour?
df.loc[(df['kind'] == 'STATION') & (df['postal_code'] == 75015) & (df['hour'] == 14)]

                           address  bluecar_counter  ...  hour  minute
298                 11 rue Gerbert                0  ...    14      50
341              56 Rue Lacordaire                5  ...    14      21
440                 19 Rue Leblanc                4  ...    14      24
646              1 rue Jean Sicard                6  ...    14      46
881         143 Avenue Ãmile Zola                1  ...    14      46
1012                21 rue Miollis                2  ...    14      54
1255                  15 rue Olier                4  ...    14      30
1842              54 rue HÃ©ricart                2  ...    14      35
3569              336 Rue Lecourbe                6  ...    14      36
4218  1 Rue du Colonel Pierre Avia                4  ...    14      52
4673               63 rue Lecourbe                0  ...    14      46

[11 rows x 19 columns]

#Reccommendations
From my findings i would reccommend that:
- The hour 2 should be the hour to be considered by the company for picking up the blue cars in the city of paris.
- The best hour for returning the cars should be the hour where the slots are 7 since there is a high number of parking spaces available.
- The company should consider the Paris/Porte de Montrouge/8 station since it seems to be the station which is considered most.
- The most picking hour for all cars should be at hour 14.
- To consider the station Paris/Jean-Jacques Rousseau/62  which is at the most picking hour and here our picking hour was 14.
- To consider the most popular postal code which belongs to the most popular hour and the most popular station for picking up of blue cars